@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* ================= LIGHT MODE ================= */

.light {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Main dark backgrounds */

.light .bg-slate-950 {
  background-color: #f8fafc !important;
}

.light .bg-slate-900 {
  background-color: #ffffff !important;
}

.light .bg-slate-800 {
  background-color: #f1f5f9 !important;
}

/* Text */

.light .text-white {
  color: #0f172a !important;
}

.light .text-slate-300 {
  color: #475569 !important;
}

.light .text-slate-400 {
  color: #64748b !important;
}

/* Borders */

.light .border-slate-800 {
  border-color: #e2e8f0 !important;
}

.light .border-slate-700 {
  border-color: #cbd5e1 !important;
}
html {
  scroll-behavior: smooth;
}